/.idea
/Analisis incial.pdf
/Analisis_Sistema_Reportes_Agua_Potable.docx
/DiagramaAppMovilCiudadano.png
/DiagramaAppMovilCuadrilla}.png
/DiagramaPanelAdmin.png
/Formato_Avance_Semanal_Residentes_Evolsoft.docx
/Formato_Avance_Semanal_Residentes_Evolsoft_Semana2.docx
/Graficas de ejemplo
/docs
/mise.toml
/run-tunnel.sh